
$themeColor:#6f77fc;
@mixin redius-shape($radius,$border,$bg:initial){
	width:$radius;
	height:$radius;
	border-radius:$radius;
	@if $border!=none {
		border:$border;
	}
	
	background: $bg;
}
.search-wrap{
	position: relative;
	width:fit-content;
	.input-box{
		position: relative;
		display: inline-block;
		width: 450px;
		background: white;
		border-radius:40px;
		height: 40px;
		line-height:40px;
		overflow: hidden;
		padding:0 15px;
		box-sizing:border-box;
		padding-right:60px;
			background-color: #ffffff;
	box-shadow: 1px 1px 6px 0px 
	rgba(0, 0, 0, 0.16);
	}
	.search-btn{
		position: absolute;
		padding: 0;
		right:10px;
		top:0;
		width: 40px;
		height: 40px;
		background:white;
		z-index:2;
		box-sizing: border-box;
		
	}

	.search-icon{
		position: relative;
		display:inline-block;
		width: 22px;
		height: 22px;
   // vertical-align: middle;
    transform:rotate(-45deg);
		&:before{
			position: absolute;
   			content: '';
   			width: 4px;
   			height: 11px;
   			background: $themeColor;
   			bottom:-8px;
   			left:9px;
   			border-radius:2px;
		}
		&:after{
			position: absolute;
   			content: '';
			@include redius-shape(14px, 4px solid $themeColor);
			left:0;
		}
	}

	.search-inp{
		opacity:1;
		padding: 0 5px;
		width:100%;
    background: transparent;
		
	}
	.search-close{
		cursor: pointer;
		position: absolute;
		top:10px;
		right:50px;
		color:$themeColor;
		display: none;
	}
	
}

@keyframes allRotate {
    0% {
        transform: rotate(-45deg);
    }

    100% {
       transform: rotate(315deg);
    }
}

.active-search{
	.search-close{
		display: block;
	}
}
